//In this section you should implement your own genre 
//list page. The page should display a list of all 
//genres in the database, with each genre linked to
// its associated detail page. A screenshot of the 
//expected result is shown below.